<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DropIn</title>
</head>

<body>

    <div>
        <h1>
    {{ range .Proxy.URL.Road }} 
        <a href="{{ .Link }}"> {{ .Name }} </a> >
    {{ end }}
        </h1>
    </div>

    <div>
        {{ range .FileInfo }}
            {{ if eq .File.Type "Folder"}}
                <a href="{{ .Link }}">[{{ .File.Name }}]</a>
            {{ else }}
                <a href="{{ .Link }}">{{ .File.Name }}</a>
            {{ end }}
                <br>
        {{ end }}
    </div>
</body>
</html>